@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      font-family: 'League Spartan', system-ui, sans-serif;
    }

    
}

.bg-gradient-blue-ciel {
    background: rgb(0, 212, 255);
    background: linear-gradient(144deg, rgba(0, 212, 255, 1) 45%, rgba(255, 255, 255, 1) 70%);
 
}



.bg-gradient-blue-ciel-inverse {
    background: rgb(0, 212, 255);
    background: linear-gradient(-144deg, rgba(0, 212, 255, 1) 45%, rgba(255, 255, 255, 1) 70%);
 
}

form input {
    @apply rounded-full p-4 shadow uppercase text-xs
}